.cLabel{
    position: absolute;
    left: 30px;
    top: 25px;
    z-index: 1;

    font-weight: 600;
    font-size: 25px;

    pointer-events: none;
}

.content{
    position: absolute;
    box-sizing: border-box;
    right: 0;
    bottom: 0;
    
    overflow: hidden;

    background-color: var(--page-background);
    border-top-left-radius: 6px;
    border-top: 1px solid var(--page-border);
    border-left: 1px solid var(--page-border);

    width: calc(100vw - 75px);
    height: calc(100vh - 50px);
}

.cSpotlight{
    width: 100%;
    height: 70%;

    position: relative;
}

.csImage{
    width: 100%;
    height: 100%;

    /* background: var(--abtCoverImage) center/cover no-repeat white; */
    background: white;
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 15%);
    mask-image: linear-gradient(to top, transparent 0%, black 15%);
}

.chBoardwalk{
    scroll-behavior: smooth;
    display: flex;
    gap: 13px;

    width: 100%;
    height: fit-content;

    padding: 15px;

    position: absolute;
    bottom: -50px;

    overflow-y: hidden;
    overflow-x: scroll;
}

.chbTile{
    box-sizing: border-box;
    position: relative;

    overflow: hidden;

    min-width: 220px;
    height: 130px;

    border-radius: 10px;

    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;

    transition: transform .2s;
}

.chbTile:last-of-type{
    margin-right: 25px;
}

.chbTile::after{
    content: attr(data-chbtSiteName);

    font-size: 12px;
    font-weight: 600;

    color: white;
    opacity: 0;

    position: absolute;
    bottom: -20px;
    left: 15px;

    transition: bottom .3s, font-size .2s, opacity .4s;
}

.chbTile:hover::after{
    bottom: 20px;
    opacity: 1;
    font-size: 15px;
}

.chbTile:hover .chbGrad{
    bottom: 0;
    opacity: 1;
}

.chbTile:hover{
    transform: scale(1.03);
}

.chbGrad{
    position: absolute;
    bottom: -100%;

    opacity: 0;

    width: 100%;
    height: 40%;

    transition: opacity .2s, bottom .3s;

    background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
}

.scrollBtn{
    width: 20px;
    height: 40px;

    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(5px);
    border-radius: 4px;

    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    position: fixed;
    bottom: 29%;
    z-index: 2;

    font-family: FLNTFILL;

    transition: transform .2s;
}

.scrollBtn:hover{
    transform: scale(1.07);
}

.sbEnd{
    left: 80px;
}

.sbEnd::after{
    content: ""
}

.sbStart{
    right: 10px;
}

.sbStart::after{
    content: ""
}