:root{
    --accent-color-1: rgb(143, 69, 212);

    --button-accent-rest: rgb(0, 120, 212);
    --button-accent-hover: rgb(38, 141, 219);
}

@media (prefers-color-scheme: light){
    :root{
        --site-background: rgb(243, 243, 243);
        --page-background: rgb(240, 240, 240);
        --page-border: rgb(229, 229, 229);

        --modal-back: rgba(255, 255, 255, 0.7);
        --modal-section-border: rgba(0, 0, 0, 0.2);

        --font-color-1: rgb(134, 134, 134);
        --font-color-2: black;

        --button-rest: rgb(255, 255, 255);
        --button-hover: rgb(240, 240, 240);
        --button-active: #FFF;

        --search-back: rgb(250, 250, 250);
        --search-border: rgb(232, 232, 232);
        --search-border-bottom: rgb(207, 207, 207);
        --search-font-color: rgb(97, 97, 97);
        --search-font-focus: rgb(0, 0, 0);

        --menu-back: rgba(247, 247, 247, 0.8);
        --menu-sep: rgba(0, 0, 0, 0.1);
        --menu-btn: rgba(0, 0, 0, 0.1);

        --button-semitransp: rgba(243, 243, 243, 0.8);
    }
}

@media (prefers-color-scheme: dark){
    :root{
        --site-background: rgb(32, 32, 32);
        --page-background: rgb(39, 39, 39);
        --page-border: rgb(29, 29, 29);

        --modal-back: rgba(46, 46, 46, 0.8);
        --modal-section-border: rgb(29, 29, 29);

        --font-color-1: rgb(154, 154, 154);
        --font-color-2: white;

        --button-rest: rgb(45, 45, 45);
        --button-hover: rgb(50, 50, 50);
        --button-active: rgb(69, 69, 69);

        --search-back: rgb(46, 46, 46);
        --search-border: rgb(53, 53, 53);
        --search-border-bottom: rgb(70, 70, 70);
        --search-font-color: rgb(207, 207, 207);
        --search-font-focus: rgb(255, 255, 255);

        --menu-back: rgba(0, 0, 0, 0.8);
        --menu-sep: rgba(255, 255, 255, 0.1);
        --menu-btn: rgba(255, 255, 255, 0.2);
        
        --button-semitransp: rgba(0, 0, 0, 0.8);
    }
}

@font-face {
    font-family: FLNTFILL;
    src: url(fonts/fluent_filled.ttf);
}

@font-face {
    font-family: FLNTREG;
    src: url(fonts/fluent_reg.ttf);
}

.hidden{
    display: none;
}

.chbTab1{
    background-image: url(boardwalkTiles/1feedly.png);
}

.chbTab2{
    background-image: url(boardwalkTiles/2twitter.png);
}

.chbTab3{
    background-image: url(boardwalkTiles/3youtube.png);
}

.chbTab4{
    background-image: url(boardwalkTiles/4reddit.png);
}

.chbTab5{
    background-image: url(boardwalkTiles/5deviantart.png);
}

.chbTab6{
    background-image: url(boardwalkTiles/6netflix.png);
}

.chbTab7{
    background-image: url(boardwalkTiles/7apv.png);
}