/* Header navigation */

.topNav{
    width: 100vw;
    height: 50px;

    display: flex;
    align-items: center;

}

.navIcon{
    height: 25px;
    aspect-ratio: 1/1;

    margin: 0 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(logos/icon48.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.navTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;

    font-size: 13px;
    font-weight: 600;
    opacity: .7;

    color: var(--font-color-2);
}

.navTitle p{
    font-size: 10px;
    opacity: .6;
}

.searchField{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px 10px;

    width: 50%;
    height: 60%;

    background-color: var(--search-back);
    border-radius: 6px;
    border: 1px solid var(--search-border);
    border-bottom-color: var(--search-border-bottom);
    outline: none;

    font-family: 'Segoe UI';
    color: var(--search-font-color);
}

.searchField:focus{
    color: var(--search-font-focus);

    border-bottom: 2px solid var(--accent-color-1);
}

.profile{
    margin-left: auto;
    padding-right: 10px;
}

.tnProfIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: 5px;

    background-image: url(prof.png);
    background-size: cover;

    transition: transform .15s;
}

/* Profile Menu */

.profMenu{
    position: absolute;
    z-index: 100;
    right: 10px;

    width: 280px;
    height: fit-content;
    padding: 15px 15px 10px 15px;

    border-radius: 6px;
    background-color: var(--menu-back);
    border: 1px solid var(--search-border);
    backdrop-filter: blur(15px);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);

    overflow: hidden;

    transform: scale(0);
    transform-origin: top right;

    transition: transform .3s, opacity .2s;
}

.pmAboutMe{
    padding-bottom: 10px;
    border-bottom: 1px solid var(--menu-sep);

    display: flex;
    align-items: center;
}

.pmamProfIcon{
    width: 80px;
    height: 80px;
    border-radius: 200px;

    background-image: url(prof.png);
    background-size: contain;
}

.pmamText{
    padding-left: 10px;
    color: var(--font-color-2);
}

.ptName{
    font-weight: 600;
}

.ptEmail{
    font-size: 13px;
    opacity: .6;
}

.ptEdit{
    padding-top: 5px;
    font-size: 12px;
    opacity: .7;
    cursor: pointer;
}

.pmSettingsBtn{
    display: flex;
    align-items: center;
    box-sizing: border-box;

    font-family: FLNTREG;
    font-size: 20px;

    color: var(--font-color-2);
    border-radius: 6px;
    
    height: 40px;

    margin: 5px 0 0 0;
    padding: 5px 10px;

    cursor: pointer;

    user-select: none;
}

.pmSettingsBtn p{
    padding-left: 10px;

    font-family: 'Segoe UI';
    font-size: 14px;
}

.pmSettingsBtn:hover{
    background-color: var(--menu-btn);
}

.ptEdit:hover{
    text-decoration: underline;
    opacity: 1;
}

/* Sidebar navigation */

.sideNav{
    width: 75px;
    height: 100vh;
    padding: 0 5px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
}

.sbButton{
    width: 100%;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    position: relative;

    background-color: transparent;
    border-top: 1px solid transparent;
    border-radius: 6px;

    transition: border-top .1s, background-color .1s;
    color: var(--font-color-2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 25px;
    font-family: FLNTREG;

    user-select: none;
}

.sbButton:hover{
    background-color: var(--button-hover);
    border-top: 1px solid rgba(255, 255, 255, .06);
}

.sbbActive{
    border-top: 1px solid rgba(255, 255, 255, .06);
    background-color: var(--button-active);
    color: var(--accent-color-1);

    font-family: FLNTFILL;
}

.sbbaInd{
    width: 6px;
    height: 27px;

    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);

    background-color: var(--accent-color-1);

    border-radius: 100px;
}

.sbbInactive{
    color: var(--font-color-1);

    transition: color .1s;

    cursor: pointer;
}

.sbbInactive:hover{
    color: var(--font-color-2);
}

.sbbInactive::after{
    content: attr(data-sbbLabel);

    font-family: 'Segoe UI';
    font-size: 11px;
    font-weight: 500;

    opacity: .7;

    height: 0;
    overflow: hidden;

    transition: height .1s;

    padding-top: 3px;
}

.sbbInactive:hover::after{
    height: 15px;
}